# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints
trainmodel/.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Other
trainmodel/*.ipynb

# Mac OS
.DS_Store